[2015-01-23 22:39] cdomville opened #1 "Create an initial list of requirements (and possibly some mockups)"
We need to provide a sensible scope for our first proper build, as well as a list of features that would be sensible in future versions. So, this issue is going to be a rolling issue for the time being until we get the  requirements list sorted and finalised.

Eventually, I'll set up a wiki page, at which point I will close this ticket.

Provide your input in the comments.

[2015-01-23 22:48] ghost commented on #1
Personally, I'd like to be able to do the following:
- View the current state of the aurora
- drill down into the data over the past 24 hours
- view the state of both aurorae using the planetary images
- the ability to hook into the Twitter feed of AuroraWatch UK and possibly other tags to get photos of recent aurorae.
- Some form of push notification system would be good to have, though obviously

[2015-01-25 15:40] hmcc commented on #1
Here's a list of features that I think are in the iOS app, based on watching https://www.youtube.com/watch?v=oWWVLOvy7fk

**Now tab**
- Display the current status as text (e.g. "Amber alert: possible aurora")
- Display the current disturbance level as a number (e.g. 101.9 nT)
- Display a sentence explaining the areas in the UK that may see the aurora (e.g. "Aurora is likely to be visible from Scot

[2015-01-25 15:50] ghost commented on #1
Thanks Heather, that's a good list.

In terms of implementing the design, I think we need to look at something that's natively Android based. Something like an AppDrawer fragment with different sub-fragments should work - a bit like how the GMail app on Android now presents itself.

[2015-01-25 15:54] hmcc commented on #1
Hi, yes, I should have said that I don't mean to imply anything about our UI when I refer to the tabs in the iOS app, they just helped me orient myself when watching the video. I like the AppDrawer idea.

[2015-01-25 16:12] stevemarple commented on #1
There's no API for the sightings database. That's on a distant to-do list as I think an app can provide a better interface than the current web forms. However it could be implemented right now by hooking into the form submission.

[2015-01-25 16:24] ghost commented on #1
Not to worry, Heather, was merely jotting my thoughts on the UI, expanding on your input. You've covered what I can see, and the others are on the mailing list.

And thanks Steve, was possibly going to hook into Twitter's APIs to try and get those photos instead of the form for the time being. Some form of social interaction from people, especially those local to the user, might give another way o

[2015-01-25 16:43] stevemarple commented on #1
For photos have you thought of using the Flickr API to show photos from the AuroraWatch UK group?

[2015-01-25 18:48] ghost commented on #1
That's a very good idea. Will work on that when we have a stable version, the important pieces are the decent display of data.

Some form of tie-in to the location API via Google Play Services or GPS would be cool, as it would be nice to have an option to notify a user if they're likely to see it.

[2015-01-25 19:05] stevemarple commented on #1
Do you mean to notify a user if a sighting is reported nearby? That's something an app could provide so much better than the web pages or Twitter. It could be a killer feature but might need some kind of verification or observer rating to work well.

[2015-01-25 20:35] hmcc commented on #1
I don't know what Craig meant but I think it would be rather good if, as well as reporting nearby sightings, we could tell the user if they're likely to see the aurora at their current location. Is it possible to do something by combining the user's location with the maps at http://www.softservenews.com/Aurora.htm#ovation and the current disturbance level to customise the alerts for that user? (Tr

[2015-01-25 20:51] hmcc commented on #1
I've had some more information from Neil about the current iOS app, updated features below.

**Hourly tab**
- Display a [graph of the previous 24 hours' activity](http://aurorawatch.lancs.ac.uk/summary/aurorawatch_new/plots/awn_lan1/rolling.png).
- Display the same information as a list in descending order of time (from [activity.txt](http://aurorawatch.lancs.ac.uk/api/activity.txt))

**More tab**

[2015-01-25 21:03] stevemarple commented on #1
Heather, the AuroraWatch alert status, together with the user's location should indicate the likelihood of seeing the aurora, no need to use the Ovation maps which are a prediction. Location is important, see the "meaning" column in the table at http://aurorawatch.lancs.ac.uk/alerts

[2015-01-25 23:02] ghost commented on #1
Steve - that's part of what I was looking at exploring, but was thinking about ideas to do it without a push notification server (as we didn't have one at teh time I posted that and it's not really an AuroraWatch thing unless we want to add this to the other apps, too). It's possible get geotagged metadata from a picture that's been taken on a smartphone and uploaded to Twitter.  Plus, the locatio

[2015-01-26 10:42] neilmorton commented on #1
Re the comments on alerts based on users location, this was something I had considered, and still have on the list of ideas!

I had an idea to have both manual and automatic alert settings. Manual would work as now, allowing the user to select which thresholds they are interested in, whereas Automatic would set the relevant alert based on the users latitude. My thinking was that I would look to cr

[2015-01-26 17:36] jmbillings commented on #1
Accessing the Flickr API isn't too hard- in fact, the Android app I made in my spare time primarily does this, so I'm happy to investigate that side of things when we get to it.
Location based alerting is a good idea. Another app I used to use required you to select the KP level you were interested in (so for example, alerting at KP4 was useless for me because I'd really need 7 or above to stand a

[2015-01-26 21:32] hmcc commented on #1
Regarding alerts based on the user's location... can anyone explain how the lines on the map at http://www.softservenews.com/globeNE_big.gif would have been calculated? I was hoping that it might be possible to work out where the "line" would be for any given disturbance level, work out whether each particular user is above or below it, and then either alert them or not.

I understand that, for ex

[2015-01-26 21:56] stevemarple commented on #1
@hmcc:
re http://www.softservenews.com/globeNE_big.gif, they look like lines of constant geomagnetic latitude, which takes into account the Earth's magnetic field is tilted and uneven.

The science is not exact, and observers locations are not all equal (varying light pollution, elevation of northern horizon etc). I'll try to figure out some latitude values for the UK which relate to the different

[2015-01-26 22:34] hmcc commented on #1
Thanks Steve, that's very helpful! What do people think then of the different approaches - should we provide alerts automatically based on latitude, allow the user to select the KP level they're interested in (maybe defaulting to what we think it should be based on location) and/or allow users to sign up to the existing yellow, amber or red alerts?

Can anyone who knows Flickr better than me tell

[2015-01-26 23:20] neilmorton commented on #1
@stevemarple Thanks.
I am not sure how it is with Android, but my idea, if I was to automate the changes to alert settings was to have geo fencing boundaries within the app. However, it seems, on Apple at least, that the fences are all spherical. I.e x distance from centre, and there is no ability to detect the crossing of a latitudinal line! So, whilst it will be possible to set the likely candid

[2015-01-27 07:33] jmbillings commented on #1
The other option could be to allow the user to set the alerting level and then, within the app, display a "likelihood of visibility" based on their latitude (and even moon position/phase and current weather conditions, if you wanted to get really fancy).
Date: Mon, 26 Jan 2015 15:20:11 -0800
From: notifications@github.com
To: AuroraWatchApp@noreply.github.com
CC: james@puffle.co.uk
Subject: Re: [A

[2015-01-27 07:37] jmbillings commented on #1
No idea what proportion of photos are location tagged. It depends if the users bothered (assuming it didn't happen automatically). You can try the search function here: https://www.flickr.com/services/api/explore/flickr.photos.search
It returns some json which you then need to parse with a few other steps to retrieve either thumbnails or the full-size photo.  Date: Mon, 26 Jan 2015 14:34:12 -0800

[2015-01-28 12:51] hmcc commented on #1
@jmbillings I tend to agree. When reporting the status, I'd vote for replacing the sentence "Aurora is likely to be visible from Scotland, northern England and Northern Ireland" with something like "Chances of seeing the Aurora in &lt;York, UK&gt;: &lt;Poor | Fair | Good | Very Good&gt;", if the user has location switched on and if @stevemarple  thinks that's not stretching the science too far.

F

[2015-01-28 13:02] hmcc commented on #1
Regarding alerting the user when there's something to see nearby, I'm afraid it's not good news, for Twitter at least. I've written some [test code](https://github.com/hmcc/aw-twitter-demo) that searches Twitter for reported sightings and checks whether they have a location.

In the last week (which is as far back as I can go with the Twitter API) I got 61 tweets, 3 of those with a location, and a

[2015-01-28 14:15] stevemarple commented on #1
@hmcc: I like the idea of customising the alert message based on location. It can probably be done, eg York normally needs amber, so green=poor, yellow=fair?, amber=good, red=v good. I'd say Plymouth needs red, so green=poor, yellow=poor, amber=fair, red=good.
For now it might be easier to stick with the standard text. You still need to handle the viewing by eye/camera issue.

AuroraWatch UK alert

[2015-01-28 19:05] ghost commented on #1
Thanks all for the investigations into this location stuff. I'd agree there was a misunderstanding, but I also think this is very possible using existing toolsets.

I've had some experience with GPS co-ordinates and satellites on an Android client, as I needed to create a logging app for the orientation sensor in order to test my MSc dissertation's algorithm in the field.

Android apps can use the

[2015-01-28 19:05] #1 closed

[2015-01-28 19:19] cdomville opened #2 "Application Structure"
Before we can start development, we need to discuss the overall structure so people aren't tripping over one another on duplicate features.

From what I can see, we will need the following:

* A menu to hold the Application together using an application drawer idiom. (likely priority number one because everything else will be a sub fragment of this activity).
* An Activity/Fragment for each of the

[2015-01-28 20:42] hmcc commented on #1
@stevemarple thanks for the link to the blog entry. I did mean Kp, following on from a mention of another app that allowed you to specify a Kp level for the alert - but I understand now why I shouldn't :)

[2015-01-30 17:46] jmbillings commented on #2
That seems like a decent enough starting point. Like you suggest, the main thing is getting the initial UI framework in place so other modules can be bolted in somewhat separately...

[2015-01-30 20:22] stevemarple commented on #2
The AuroraWatch UK activity values have an hour resolution but the value for the current hour is updated every ~3 minutes. The way they are computed guarantees that the activity value won't  decrease during the hour*.

[*] If we make adjustments to the quiet-day curve then you may see a decrease. This is not a routine operation and the with new processing software this should not be necessary.

[2015-01-30 21:11] n40jpj commented on #1
Hi Everyone, I'm a latecomer to this discussion, but I have been looking at an Android app and now have one up on the Play Store.  It's a hybrid app and I plan to keep it open source.  Check out https://play.google.com/store/apps/details?id=com.ionicframework.aurorawatchuk275889  for the app and if you have any questions please email me at the email address on the listing.

The app is simple and d

[2015-01-31 14:33] hmcc commented on #2
Yep, seems about right to me too. @ProgressConcepts, did your iOS app have a settings screen, and if so, what was in it?

Would anyone object if I took the current requirements and created an issue for each? i.e.
#3 - Display the aurora status as text
#4 - Display the current disturbance level as a number
...
That way people can make a start on some of them, and for those issues that might need a

[2015-01-31 14:39] jmbillings commented on #2
I think I'm ok with that development model. Where I work, we discussed having master + develop but ended up sticking with just master, and merging in feature branches only when they've passed a certain subset of automated tests, but it's a completely different project so a direct comparison probably doesn't make sense :)
Date: Sat, 31 Jan 2015 06:33:25 -0800
From: notifications@github.com
To: Auro

[2015-01-31 22:43] neilmorton commented on #2
@hmcc No the screens you had were all of them.
The only setting at this time is the alert level and that is on the More screen.
Any further settings I will likely add to that in the top section.

[2015-02-01 19:48] hmcc commented on #2
@ProgressConcepts thanks, that's what I thought. In that case, I think on Android the alert level could go on the Settings screen. I'm not sure what else we have that needs to be there?

[2015-02-01 19:50] jmbillings commented on #2
Settings could have an on/off for "adjust alert level based on my location" option... Not much else, maybe alert type (sound/vibrate) ?

Sent from my HTC

----- Reply message -----
From: "Heather McCartney" notifications@github.com
To: "aurora-watch-developers/AuroraWatchApp" AuroraWatchApp@noreply.github.com
Cc: "James Billings" james@puffle.co.uk
Subject: [AuroraWatchApp] Application Structure (

[2015-02-01 20:17] n40jpj commented on #2
@ProgressConcepts  I like the idea of keeping it simple, in my experience a straight forward on / off option and let the defaults prevail, would it not be better to state that the server only sends notifications on higher order events rather than the norm?

My take on branching is that Feature branching works; I have implemented it in many office environments  in an Scrum (Agile) framework.  To da

[2015-02-01 20:18] hmcc commented on #2
@jmbillings, I was thinking we might as well put that whole section in settings, including yellow/amber/red alerts. Is that what you meant? Alert type is a good idea. I'm not sure what we decided in the end about location alerts, or indeed about specifying a level (other than that Kp is bad) but I'm happy to figure out the detail as we go.

[2015-02-01 20:21] neilmorton commented on #2
@n40jpj My iOS app has alert levels that the user can select, but defaults to Yellow and above. This is sent to my server, and I push alerts as appropriate. So, someone selecting yellow will get alerts for yellow, amber and red.

[2015-02-01 20:35] hmcc commented on #2
@n40jpj sorry for not replying to your earlier comment, I haven't had time yet to look at your app. However, if it's complete and in the Play Store already, is there much more for us to do?

[2015-02-03 21:55] hmcc opened #3 "Display the current status as text (e.g. "Amber alert: possible aurora")"

[2015-02-03 21:56] hmcc opened #4 "Display the current disturbance level as a number (e.g. 101.9 nT)"

[2015-02-03 21:59] hmcc opened #5 "Display a sentence explaining the areas in the UK that may see the aurora (e.g. "Aurora is likely to be visible from Scotland, northern England and Northern Ireland")"
There was some discussion in #1 about whether this should be replaced with something location-based e.g. "Chances of seeing the Aurora in &lt;York, UK&gt;: &lt;Poor | Fair | Good | Very Good&gt;" but we decided to stick with the standard text for now.

[2015-02-03 22:01] hmcc opened #6 "Display the source and timestamp of the status information in #3, #4 and #5"
e.g. Recorded: 2015-01-07 10:44 (UT) Lancaster #1, England)

[2015-02-03 22:01] hmcc opened #7 "Display a graph of the previous 24 hours' activity."
This is available from http://aurorawatch.lancs.ac.uk/summary/aurorawatch_new/plots/awn_lan1/rolling.png

[2015-02-03 22:02] hmcc opened #8 "Display the same information as #7 as a list in descending order of time (from activity.txt)"

[2015-02-03 22:03] hmcc opened #9 "Provide the ability to sign up for minor, amber or red alerts"
To be implemented as push notifications?

[2015-02-03 22:07] hmcc opened #10 "Provide links to Aurora Watch, Twitter, Facebook and Flickr"
The links should be these:
Aurora Watch UK website - http://aurorawatch.lancs.ac.uk/
Aurora Watch UK on Twitter - https://twitter.com/aurorawatchuk
Aurora Watch UK on Facebook - https://www.facebook.com/aurorawatchuk
Aurora Watch UK on Flickr - http://www.flickr.com/groups/aurorawatch
Top Spots - http://aurorawatch.lancs.ac.uk/photo_sites
Report Sighting - http://aurorawatch.lancs.ac.uk/cgi-bin/re

[2015-02-03 22:08] hmcc opened #11 "Provide a way to rate the app in the Play store"

[2015-02-03 22:09] hmcc opened #12 "Provide a way to contact support"
Need to agree what email address to put...

[2015-02-03 22:10] hmcc opened #13 "Show the licensing info from http://aurorawatch.lancs.ac.uk/api_info/"
"AuroraWatch UK alerts data is provided by Lancaster University, UK using data from the SAMNET and/or AuroraWatchNet magnetometer networks."

[2015-02-04 10:50] n40jpj commented on #2
@hmcc - no problems, I've been out and about myself.  The app is in it's first iteration, with it basically just displaying the data feeds as required.

Re whats's left to do: there is plenty; I've just started looking at the alerts, and there is still plenty to do re the interface and adding in FAQ's / info.

I saw the issues you created last night - do you want me to mark the ones the app I have

[2015-02-04 13:58] hmcc commented on #2
@n40jpj Thanks so much for offering to help. Whether we work with your repository or keep working here (or a bit of both) isn't my decision - there are quite a few of us involved and I definitely don't speak for everyone.

Are you on the AuroraWatch API devs mailing list? I think that might be a better place for this question, as there are some people there who aren't active here.

[2015-02-04 15:18] jmbillings commented on #7
Is it worth downloading this in the background periodically so the most recent is available in the app even when no internet connection is available?

[2015-02-04 21:20] jmbillings commented on #10
I've started templating an "about" fragment, which I've just pushed on a branch ( https://github.com/aurora-watch-developers/AuroraWatchApp/tree/aboutFragment ) - feel free to take a look and make changes / burn it with fire

[2015-02-04 21:20] jmbillings commented on #13
I've started templating an "about" fragment, which I've just pushed on a branch ( https://github.com/aurora-watch-developers/AuroraWatchApp/tree/aboutFragment ) - feel free to take a look and make changes / burn it with fire

[2015-02-04 21:27] hmcc commented on #13
Brilliant! It's going to be at least Friday before I'll have a chance to have a proper look, but you carry on :)

[2015-02-04 21:31] hmcc commented on #10
I _think_ these links were going to be in a separate "more" fragment, but I'm happy to be corrected...

[2015-02-04 21:37] hmcc commented on #7
Hmmm. Should we do this for all status information? i.e.
- #3 Current status as text (e.g. "Amber alert: possible aurora")
- #4 Current disturbance level as a number (e.g. 101.9 nT)
- #5 Areas in the UK that may see the aurora (e.g. "Aurora is likely to be visible from Scotland, northern England and Northern Ireland")
- #6 Source and timestamp of the status information
- #8 List in descending orde

[2015-02-04 21:37] jmbillings commented on #10
Yeah- terminology :smile: I think I'm thinking of "more" as the same thing as an "about" page- it'll be easy enough to rename / move things if I've got the wrong end of the stick though!

[2015-02-04 21:40] hmcc commented on #10
:D I think there are 2 separate screens. I'm just thinking that we should probably stay as close to the iOS app as we can, unless we have good reason to do otherwise.

[2015-02-04 21:42] jmbillings commented on #7
It might be nice... I personally get annoyed at apps where I load it up and it does zilch, just because I'm away from a connection. As long as it's possible to see how up-to-date you are (like the BBC Weather app, it has a little label saying how long ago it updated).
If we do go ahead, we probably need another user-setting for whether to do background downloads over mobile networks or just wifi,

[2015-02-04 21:43] jmbillings commented on #10
Sure, I'll borrow the other half's iphone and remind myself of how it looked.

[2015-02-04 22:02] jmbillings commented on #10
Yes, you're correct, I've got screenshots now. Will update my branch tomorrow :)

[2015-02-05 18:20] jmbillings commented on #10
OK, I've renamed all this to be the "more" fragment, and added code to handle the button clicks. Apart from the FAQ one, I'm not sure where that should go.

This does mean the branch now has the wrong name; happy to add "about" stuff on the same branch, unless someone knows the relevant git incantations to rename a branch...

[2015-02-06 10:49] hmcc commented on #10
Git incantations [here](https://gist.github.com/lttlrck/9628955) (not too hard, honest).

Right, I'm off to have a look at the code and maybe write some of my own. It's been a while since I did anything with Android so I may be some time...

[2015-02-06 11:13] ghost commented on #2
Hi all, this looks great!

Sorry for the MIA status this week from me, I've been dealing with some stuff relating to my health and, on top of that, the monthly release cycle at my workplace. Most of the progress looks good, I'll be making some comments on the features and submitted code throughout this evening and then starting to look at tying the menu panel together with the rest of the fragemnt

[2015-02-06 11:27] hmcc commented on #2
Hello! Welcome back :) Hope you're feeling OK now.

I also think we should stay here and go with native Android. I wouldn't develop a cross-platform app while there's already a working iOS app out there. But if @n40jpj wants to join the mailing list and work here as well, that's fine with me.

Alternatively, I think there are other developers on the mailing list that aren't yet in this GitHub grou

[2015-02-06 20:51] jmbillings commented on #10
Looks like the rename worked fine, thanks!

[2015-02-09 20:30] hmcc commented on #10
I've had a look and I don't quite understand.... how do I get to the More screen when running the app? I'm running in Android Studio with my phone (Motorola Moto G) and with an emulator (Nexus 5 API 21 x86). Neither has a physical menu button and long press on the app switch button doesn't have any effect.

[2015-02-09 21:41] jmbillings commented on #10
If you want to try it, just add it to the main.xml layout file. I didn't push that bit of code as we don't want the main screen to only show the more screen :)

If you want to do it, just paste this into main.xml below the image:

[code]

[2015-02-09 22:19] hmcc commented on #10
Ah, OK, that makes sense. I was just having one of those moments when I thought I was missing something really, really, obvious!

In that case, I like what you've done so far. I'd stick with one click handler per button and remove the //TODO. I'm in two minds about the layout because I really like the icons but I miss the uniformness of the iOS version where all the buttons were the same size and

[2015-02-09 22:34] ghost commented on #10
Heather: That's correct about Fragments being supported from API level 11 and above. However, there is a compatibility library (provided by Google) which we can use that allows us to create Fragment based UI's that are compatible with API level 9. This compatibility library is primarily how we're going to implement Material Design's movement and animations when using a non-Lollipop device. The sup

[2015-02-09 22:40] hmcc commented on #10
@cdomville Yes, the app builds fine with Gradle using the compatibility library; my question was just about a warning I'm seeing in Android Studio. If either of you are seeing it too, should we switch it off in that class with `@SuppressLint("NewApi")`?

Hope the headaches are more under control soon, sounds nasty.

[2015-02-09 22:51] ghost commented on #10
All that needs to be done is to change the import statement for the Fragment class to:

and the warning will go away with the next run of the code analysis/linting tool. It'll build fine because we're using a recent SDK to build it, but there'll be a runtime exception on devices not running API 11 or above if we use the default fragment obejcts, which is why the Lint is there to help remind us we

[2015-02-10 07:51] jmbillings commented on #10
"In that case, I like what you've done so far. I'd stick with one click handler per button and remove the //TODO. I'm in two minds about the layout because I really like the icons but I miss the uniformness of the iOS version where all the buttons were the same size and shape. Do you think it would work if we had a list of full-width buttons, each with an icon and text?"

Yep - can even remove the

[2015-02-10 10:38] hmcc commented on #10
I like having the buttons all the same size and shape because it makes it clearer that they're all the same kind of action, if that makes sense? There's an example of buttons with both text + icon at http://developer.android.com/guide/topics/ui/controls/button.html. But I'm definitely not a designer :) so I'm happy to go with whatever you think.

[2015-02-10 10:41] jmbillings commented on #10
Yep, seems sensible, I'll make them picture + text full width.

[2015-02-10 10:43] ghost commented on #10
To answer the design concern, functional equivalence is more important right now, we should hold off on making everything consistent until we have several pages constructed.

[2015-02-10 10:44] hmcc commented on #10
Yep, it's definitely not urgent :) Are we ready (or nearly ready) to merge the moreFragment back into develop?

[2015-02-10 10:47] ghost commented on #10
Do it! :+1: Don't be afraid to break things, this is why it's called "develop" :D

[2015-02-10 10:47] jmbillings commented on #10
The FAQ button currently doesn't go anywhere- easy enough to fix, I just didn't know where!
The iOS app also has the settings options and stuff on that page, but they can be added later on :)

[2015-02-10 10:49] ghost commented on #10
Whoops, didn't mean to close the issue. FAQs and stuff are an implementation detail. this can be merged. Settings will be it's own fragment, because of the app drawer design we're going for affords more vertical space. :)

[2015-02-10 10:51] jmbillings commented on #10
OK - I just opened a pull request, but then just thought those are perhaps reserved for merging back to master... shall I just merge straight in onto develop?

[2015-02-10 10:55] ghost commented on #10
I think most of the stuff that would be in a pull request has been done here. Pull requests are only really useful if it interferes with other changes on develop, but this should be a straightforward merge for now. :)

EDIT: and external committers, but that won't be likely until we release. :D

[2015-02-10 11:17] jmbillings commented on #10
OK, current state now merged. I'll continue tinkering with the buttons and stuff later on

[2015-02-10 11:38] ghost commented on #10
Excellent. Just made a small tweak to use android.support.v4.Fragment instead, so we don't get lint warnings. :)

[2015-02-11 15:14] hmcc commented on #10
Lovely! I just added icons for the AuroraWatch website and FAQ. I realise we might not use FAQ, but it looked a little lonely once I'd added the AuroraWatch one.

By the way, changing the import to android.support.v4.Fragment means that @jmbillings' suggestion for adding the fragment to the main.xml no longer works, but I assume all will be OK once we have proper drawers?

[2015-02-11 15:18] ghost commented on #10
It should all be OK, that is correct. The main activity (extending from the AppCompat ActionBarActivity) would be the root in the xml, and would load up the v4 Fragment into the application with the menu drawer. I'll be finishing off most of my branch tonight so people can take a look at it.

[2015-02-11 22:01] jmbillings commented on #9
Added the buttons for this in a similar style to the iOS app on the more fragment, along with an alertlevel enumeration. Still need to add code to save this out to a preferences store / sqlite db for the rest of the app to pick up.

[2015-02-11 22:03] jmbillings commented on #10
I just needed to modify the main activity class to inherit from FragmentActivity rather than Activity, then it all worked as before. Date: Wed, 11 Feb 2015 07:18:03 -0800
From: notifications@github.com
To: AuroraWatchApp@noreply.github.com
CC: james@puffle.co.uk
Subject: Re: [AuroraWatchApp] Provide links to Aurora Watch, Twitter, Facebook and Flickr (#10)

It should work, yes. The main activity w

[2015-02-12 01:01] hmcc commented on #4
I've made a start on this on the nowFragment branch. Most of the UI is still static but the service should work and update the disturbance level number (although not the colour). I should get the rest of the UI work done over the weekend. In the meantime, suggestions/comments/fixes welcome!

[2015-02-12 18:48] jmbillings commented on #9
OK, I've done this now, if someone wants to sanity check. See https://github.com/aurora-watch-developers/AuroraWatchApp/pull/15

[2015-02-13 21:51] jmbillings commented on #4
Just built and run your branch- the layout looks ok so far :+1:

[2015-02-13 22:39] hmcc commented on #4
Glad you like it :) I've just pushed another commit which updates the remaining UI, so everything on the screen now comes from activity.txt.

However, there are still a few things to do:
- The station name appears abbreviated in the activity.txt e.g. "awn_lan1" instead of "AuroraWatchNet. Lancaster #1, England." If I can get a list of station names from @stevemarple, I'll map the short names to th

[2015-02-13 22:47] n40jpj commented on #4
If its any help the current app refreshes every 3 mins when open, with the load and processing happening within a promise to ensure the loader displays whilst waiting for the new data to display.  I haven't got your latest but I've had positive feedback re displaying the last updated date on screen.

[2015-02-13 23:25] stevemarple commented on #4
The full station names will be made available in v1.0 of the API. For now you can probably just code these:
awn_lan1: AuroraWatchNet. Lancaster #1, England.
awn_lan3: AuroraWatchNet. Lancaster #3, England.
awn_cwx1: AuroraWatchNet. Cumbernauld, Scotland.
awn_orm1: AuroraWatchNet. Ormskirk, England.
crk: SAMNET. Crooktree, Scotland.
lan: SAMNET. Lancaster, England.

Please program defensively and a

[2015-02-14 14:55] jmbillings commented on #4
I'm happy for it to merge now so I (or anyone else) can look at plugging it into the main framework.

[2015-02-14 19:10] cdomville opened #18 "Now Fragment needs to handle when the user doesn't have a file on first load."
When first loading the fragment, doesn't check to see if the value is blank when displaying the number, the text should be some form of loading text to make sure that the user has a good idea about what's happening.

[2015-02-14 19:12] ghost commented on #2
Pull request #17 hooks together everything for the issue and makes the application somewhat more useable, so this can now be be closed.

[2015-02-14 19:12] #2 closed

[2015-02-14 19:27] hmcc commented on #4
Merged.

[2015-02-14 19:31] hmcc commented on #4
@stevemarple, thanks! If I don't see one of those stations listed I'll just default to what happens now i.e. the abbreviated name is shown.

[2015-02-16 22:21] hmcc commented on #4
I've added code to convert the station names from abbreviated to full. @cdomville has created #18 for the error handling and I'll add a comment to #8 to say that the date format should be updated here also when the time comes.

So that just leaves the timed task for periodically downloading and caching activity.txt.

[2015-02-16 22:23] hmcc commented on #18
Yep, that was what I meant in my comment to #4 when I said "no error handling" ;) I'll sort that out in the next couple of days.

[2015-02-16 22:25] hmcc commented on #18
Oh, and I've just seen a lovely "NaN" displayed in the app where the number should be, which came directly from activity.txt, so we should also check that the number is in fact a number.

[2015-02-16 23:53] ghost commented on #8
Plan is for me to start this pair of fragments tomorrow, now we have a decent application structure going. Likely going to look into using a master detail flow for this, as that suits the tablets quite well, too.

[2015-02-18 17:26] jmbillings commented on #7
I've added a basic implementation of the 24hr image now, will open a pull request in a moment

[2015-02-21 20:10] hmcc commented on #18
I've pushed some changes which should show a loading screen while downloading activity.txt, and a network error or format error screen if activity.txt could not be downloaded or parsed. I _think_ I may have managed to do the IntentService the way @cdomville suggested in #19 - the ActivityTxtService now handles 2 Intents, one to download and one to parse the file.

The screens themselves are still

[2015-03-03 02:05] jmbillings commented on #18
Sounds good Heather,
Sorry I've been quiet, work a bit manic and currently I'm in the states- anything in particular I can take a peek at?

[2015-03-03 09:39] hmcc commented on #18
Hellooooo! It was beginning to get a bit lonely around here ;)

I'm aiming to get the screens done sometime this week and then I'd be ready to merge. In the meantime, it would be great if you and/or @cdomville could take a look at how I've done 2 tasks in a single IntentService and see if that matches his suggestions in #19. If it does, then maybe you could move your code to download the image to

[2015-03-03 09:41] hmcc commented on #18
Oh, except that doing that on the develop branch might create merge hell, so probably best to do that on the nowFragmentLoading branch or wait until I'm ready to merge.

[2015-03-03 11:35] ghost commented on #18
Apologies, been a bad week for my head. I'll do some catchup tomorrow, most likely. Still working on how I want to do the 24 hours view with all of the data, and that's probably going to use a CardLayout of some description. Then I'll be doing some bug fixing and polishing everywhere I can so we can release a first version by the end of March (fingers crossed).

[2015-03-06 21:45] hmcc commented on #18
Sorry this has taken so long. I think this is finally ready to merge. We've got a loading screen and two error screens:
1. network error
2. file format error

The styling is pretty basic; please feel free to make better suggestions and/or change the wording.

[2015-03-06 21:49] hmcc commented on #9
@jmbillings & @cdomville - have either of you given any thought to how we want to actually implement the notifications? Is it worth going back to the API mailing list and contacting the people who offered server hosting and server effort?

[2015-03-06 22:17] ghost commented on #9
Providing pull notifications once an hour would do in the mean time, but
yeah, it would be worth seeing if we can get push notifications aggregated
on a server.

And don't worry about delays, this is a hobby/volunteer project and we've
all been busy. :)

On Fri, 6 Mar 2015 21:49 Heather McCartney notifications@github.com wrote:

[2015-03-08 14:57] jmbillings commented on #9
Hi - back in the UK now (although somewhat jet-lagged :-1: )

Agreed, checking for data on a fixed schedule may be worth looking into at first. Push notifications would be nicer though- I've not looked at the back end stuff as yet- how often does the source data actually update? AWUK send out notification emails, are these triggered as soon as the data hits a threshold or are they also polling and

[2015-03-10 22:48] hmcc commented on #9
Welcome back! I haven't looked at the back end either, yet. It's not entirely clear from reading the [AWUK page](http://aurorawatch.lancs.ac.uk/alerts#email) but I _think_ the emails would be triggered as soon as the data hits a threshold, or as soon as makes no difference. I imagine there's something that polls pretty frequently and sends an email as soon as there's a change.

I think we should a

[2015-03-11 08:16] jmbillings commented on #9
Yeah, if the other apps are doing push notifications then we should be able to as well...

[2015-03-11 22:17] hmcc commented on #18
Sorry, @cdomville, missed your comment about releasing a first version at the end of March. I'm having a busy week this week, then the next 6 weeks are OK, and then busy again from May. So given that I'm not going to be much use until next week (and I know both you and @jmbillings have been busy too) would end of April be more realistic?

[2015-03-12 00:08] ghost commented on #18
End of April would be better for me as well, actually. Part of my plan for the weekend is to get the 24 hours log done before stabilising everything. I’m trying to work out how the articles in the BBC news app work their layering, as I want something similar for the data overlaying the graph being displayed in the fragment. Work’s also been super busy, and should be calmer again at the end of the

[2015-03-12 09:56] stevemarple commented on #9
@hmcc Data processing and plotting runs every 3 minutes. If a threshold is crossed **and** a similar or lower-level alert has not been issued within x hours then an alert or notification of minor geomagnetic activity is issued. x = 24 hours for email, 12 hours for everything else.

[2015-03-13 09:48] hmcc commented on #9
@stevemarple thanks for explaining it much better than I did ;) I assume from what you've said that if there's been a higher-level alert issued within x hours, it does send another alert/notification?

[2015-03-16 17:04] jmbillings commented on #18
Hi @hmcc, I was just testing a build of your branch on my device- when the app first loads, information is shown, but if I switch to "More" then back again, I'm presented with a screen showing what looks like placeholder info, and it doesn't seem to refresh (like the below screenshot)

*edit - on my emulator, even though the internet connection is working, I am getting the network error screen in

[2015-03-16 17:22] jmbillings commented on #18
OK, think I figured that out, the intent wasn't sent if the cache was up to date, therefore the UI didn't update. I've pushed a change for that.

[2015-03-16 19:46] hmcc commented on #18
@jmbillings good catch, thanks!

[2015-03-17 22:32] hmcc commented on #18
Merged.

I've changed the organisation picture, by the way. I recently joined another organisation whose name starts with "Y" and since that's what our auto-generated picture looked like, I was getting a bit confused. If that's not OK let me know and I'll remove it.

[2015-03-18 07:49] jmbillings commented on #18
Sounds good. What's next? :)

Oh, I couldn't help running the app last night- red is pretty!

![screenshot_2015-03-17-23-29-21](https://cloud.githubusercontent.com/assets/1336335/6704645/4bd13dcc-cd43-11e4-9d3f-86caffff5a89.png)

[2015-03-18 11:37] #18 closed

[2015-03-18 11:49] #10 closed

[2015-03-18 11:53] #9 closed

[2015-03-18 11:53] #7 closed

[2015-03-18 11:53] #6 closed

[2015-03-18 11:54] #5 closed

[2015-03-18 11:54] #4 closed

[2015-03-18 11:54] #3 closed

[2015-03-18 11:56] hmcc opened #21 "Now view needs to handle landscape orientation"

[2015-03-18 11:56] hmcc opened #22 "Move alert level from More view to Settings"

[2015-03-18 13:21] hmcc opened #23 "On first launch, app drawers should be closed"

[2015-03-18 13:27] hmcc opened #24 "More view needs UI tidy up"
1. Icons could be smaller (or buttons bigger)
2. "Minimum alert level" could be centred or even removed
3. None/minor/amber/red buttons could be colour coded or all change colour together depending on the selection (see https://www.youtube.com/watch?v=oWWVLOvy7fk from about 10 seconds in)

[2015-03-18 13:28] hmcc commented on #24
![screenshot_2015-03-18-13-22-57](https://cloud.githubusercontent.com/assets/4668652/6709619/9d27d094-cd72-11e4-9ab1-84fc1c92db8b.png)

[2015-03-18 13:30] hmcc opened #25 "Create app icon"
The app still has the default Android robot icon.

[2015-03-18 13:35] hmcc opened #26 "Check user agent string is set"
Apps using the Aurora Watch UK API should identify themselves when getting information from Aurora Watch UK. Check that this is being done (and implement it if not).

[2015-03-18 13:37] hmcc opened #27 "Implement Google Cloud Messaging client"
See https://developer.android.com/google/gcm/client.html.

Register the app with GCM and save the user's chosen alert level.

[2015-03-18 13:38] hmcc opened #28 "Implement Google Cloud Messaging server"
See https://developer.android.com/google/gcm/server.html.

Download activity.txt from AuroraWatch UK periodically, and send notifications to those clients that have requested them.

[2015-03-18 13:40] hmcc commented on #22
It doesn't all fit on the More screen in landscape orientation, and alerts feels like a "setting"?

[2015-03-18 13:47] hmcc opened #29 "Move check for existing cache file from ActivityTxtService to UI"
I think the Now screen should be able to draw itself from an existing cached activity.txt. It shouldn't need an Intent to tell it to do so. We'd need this in future anyway if we plan to download and cache the file periodically.

Remove the code in ActivityTxtService that sends a message to update the UI when no download took place, and fix the Now fragment so it draws itself correctly without any

[2015-03-18 13:53] hmcc opened #30 "Tailor the information on the Now screen to the user's location"
The Now screen contains a sentence explaining the areas in the UK that may see the aurora e.g. "Aurora is likely to be visible from Scotland, northern England and Northern Ireland".

Replace this sentence with "Aurora is &lt;likely|unlikely&gt; to be visible from &lt;user's location&gt;". Fall back to the original text if location is unavailable. Also provide a setting that allows the user to swit

[2015-03-18 13:55] hmcc opened #31 "Flickr integration"
Show recent photos from Flickr, tailored to the user's location if available. Use the same setting as #30 to switch off location-based information.

[2015-03-18 13:56] hmcc opened #32 "AWUK reported sightings integration"
Show recent reported sightings on AWUK, tailored to the user's location if available. Use the same setting as #30 to switch off location-based information.

[2015-03-18 13:58] hmcc opened #33 "Twitter integration"
Show recent reported sightings from Twitter, tailored to the user's location if available. Use the same setting as #30 to switch off location-based information.

Code to scrape sightings from Twitter is in progress at https://github.com/hmcc/aurora-sightings.

[2015-03-18 14:05] hmcc commented on #18
@jmbillings good question! I've gone a little bit admin-crazy in reply :) I've closed a load of issues, opened some more, and created a couple of milestones - 0.1 for stuff we need before we release, and 0.2 for stuff we don't.

The issues are just suggestions, if you don't like them, close them!

Oh, and thanks for testing the colours on the Now screen :) I was a bit busy over at https://github.c

[2015-03-18 17:35] jmbillings commented on #24
Hmm, on my device the button icons are smaller - did you check that on the latest build of develop? If so, what device/resolution do you have- it's possible the image resizing code is getting confused...
![screenshot_2015-03-18-17-30-05](https://cloud.githubusercontent.com/assets/1336335/6715240/1e813a5a-cd95-11e4-9887-01ff1f5860e1.png)

[2015-03-18 17:46] jmbillings commented on #12
Do we want the support link on the 'More' page, or do we want a separate 'About' page which can include support, the "rate on play store" link, and the licensing? Otherwise, I fear that the More page is going to look a bit cluttered.

_edit_
While I'm thinking about this, do we actually want an email for support, or would something like a google group be better? As a free / spare time project, I d

[2015-03-18 18:09] jmbillings commented on #21
I've pushed a branch where I've started to play around with this one.

[2015-03-18 22:35] hmcc commented on #24
@jmbillings it's a 1st gen Moto G, running the latest code from the develop branch. I think it used to look fine. I upgraded to Lollipop yesterday, that might have something to do with it...

[2015-03-18 22:41] hmcc commented on #12
Yes, I think #11, #12 and #13 should be in a separate About page, and I think the alerts could move to Settings (see #22).

A Google group is a great idea, I think. If we used email, there's also the tricky issue of whose email to use (and if we create a shared one, if anyone will consider it their responsibility to check it).

[2015-03-18 22:47] hmcc commented on #21
That's much better! It still looks a little cramped on my phone, but not much.

If I was nitpicking, I'd say that I prefer the coloured bar to be a bar rather than a box, so I'd either make it full width or remove it. I think that "disturbance level" and "Aurora is unlikely to be visible" might be able to sit side by side instead. If we removed the hard-coded new lines from the "Recorded:" bit, wo

[2015-03-18 23:12] hmcc commented on #21
Like this:
![screenshot_2015-03-18-22-57-59](https://cloud.githubusercontent.com/assets/4668652/6721344/2a75e8f4-cdc4-11e4-8bad-bfbeefe528d6.png)

[2015-03-18 23:13] hmcc commented on #21
Or maybe this:
![screenshot_2015-03-18-23-10-17](https://cloud.githubusercontent.com/assets/4668652/6721364/57c232c2-cdc4-11e4-84cf-bc9e6fc4ef0d.png)

[2015-03-19 07:31] jmbillings commented on #24
OK, I'll perhaps try a couple of different emulator images, see if I can figure that one out

[2015-03-19 07:35] jmbillings commented on #21
I agree, the bar looks nicer. Out of the two options you did, I'm not sure which I prefer. I think the first (yellow) looks more "designed for landscape", whereas the green version looks more like the portrait screen just with everything stacked closer.
We need a UX designer :smile:

[2015-03-19 12:19] hmcc commented on #21
@jmbillings If you still have access to an iOS device, you could check what
happens there?

[2015-03-19 17:55] jmbillings commented on #12
OK, I've created an empty About page - pull request waiting if you want to sanity check it!

[2015-03-23 21:46] hmcc commented on #12
Merged, thanks!

I've just noticed that Google Keep has a lovely "Feedback" option which I think sends an email but also has the option to automatically include a screenshot and logs. Might be worth looking into?

[2015-03-23 22:18] hmcc commented on #25
I've created a pull request for this.

[2015-03-24 07:30] jmbillings commented on #12
Yeah, I've seen a few apps that can send logs if there's trouble- could definitely be helpful.

[2015-03-24 19:31] jmbillings commented on #13
OK, think I've added these https://github.com/aurora-watch-developers/AuroraWatchApp/pull/37

[2015-03-24 22:31] hmcc commented on #13
Yes, I like that. I wondered about putting the links in with the text (i.e. the relevant bits of the text are clickable links) but I think you're right, it's clearer without.

[2015-03-24 22:32] #13 closed

[2015-03-24 22:42] #25 closed

[2015-03-30 14:56] jmbillings commented on #21
My ios device (er, the wife's) was away with her. I'll see if I can check this soon...

[2015-04-03 10:12] ghost commented on #8
So, this has obviously been seriously delayed, and I'm sorry, I should have piqued up earlier about my workload at my company. Now today is Good Friday, I have a sane 4 day weekend, I'm going to be looking into this feature and we'll then be "feature complete" for a first version by Monday (if all goes to plan).

[2015-04-03 11:09] ghost commented on #21
I prefer the "to the side" view as it's more "tablet friendly". Incidentally, on tablets, I was planning to have the 24 hour recap column next to the  now and chart fragments to the left.

[2015-04-04 18:51] #23 closed

[2015-04-04 18:53] hmcc commented on #8
Welcome back!

I'm afraid I'm not very free this weekend (or next) but please carry on and if you want to be feature complete by Monday, don't let me stop you :) I'm still happy to contribute whatever I can afterwards, whether that's testing, "nice to have" features, bug fixing, or maybe even server development for proper push notifications if that's something no one else fancies doing.

Have a gr

[2015-04-04 18:56] hmcc commented on #21
@cdomville, when you say the "to the side" view, do you mean the screenshot above with the yellow bar?

[2015-04-04 19:10] ghost commented on #21
I do indeed. :)

On Sat, 4 Apr 2015 19:56 Heather McCartney notifications@github.com wrote:

[2015-04-13 08:09] jmbillings commented on #21
Hi folks, I've been both away and ill over the last few weeks, but back to normal now. Still not managed to grab the ios device off the other half. I'm guessing it doesn't matter too much, I'm happy to run with @hmcc 's yellow style layout above for this?

[2015-04-13 08:58] jmbillings commented on #26
https://github.com/aurora-watch-developers/AuroraWatchApp/pull/39

[2015-04-13 09:09] jmbillings commented on #12
I've created a Google Group if we want to use it: https://groups.google.com/forum/#!forum/aurorawatch-uk-android-app

[2015-04-13 09:17] jmbillings commented on #12
... and I've added a link on the about page, see https://github.com/aurora-watch-developers/AuroraWatchApp/pull/40

[2015-04-13 09:21] jmbillings commented on #11
We can either just add a link, or this code seems to let you have one of those popups once the app has been used a certain number of times or a particular timescale elapsed: http://www.androidsnippets.com/prompt-engaged-users-to-rate-your-app-in-the-android-market-appirater

[2015-04-13 10:04] jmbillings commented on #21
Pushed a change on the branch to go for that layout... kinda... https://github.com/aurora-watch-developers/AuroraWatchApp/tree/21-nowViewLandscape

[2015-04-13 21:00] hmcc commented on #12
Thanks! I've applied to join the group.

[2015-04-13 21:00] #12 closed

[2015-04-13 21:01] #21 closed

[2015-04-13 21:01] hmcc commented on #11
I like the popups, let's do that if we can?

[2015-04-13 21:02] #26 closed

[2015-04-13 21:10] #22 closed

[2015-04-14 19:25] hmcc commented on #29
Close for now - code works fine as is, we'll worry about it if/when we download and cache the file periodically.

[2015-04-14 19:25] #29 closed

[2015-04-14 21:58] hmcc commented on #28
I've made a start: https://github.com/aurora-watch-developers/AuroraWatchServer. I may not get much more done this week so if anyone else wants to have a go, the download should work but GCMNotifier still needs to be implemented as described in https://developer.android.com/google/gcm/ccs.html.

[2015-04-15 09:31] hmcc commented on #28
Just had a look at the AWS charges and they're higher than I remember :( so I think we should switch to GAE even though that only supports HTTP (not XMPP). I don't think GAE works all that well with Spring Boot so I'll rewrite to use the GAE Java SDK when I get the chance.

[2015-04-15 11:42] n40jpj commented on #28
This may or may not help, but the app I put out there uses an Azure Mobile service.  I use the Azure Mobile Service to register and keep track of each of the devices and their selected alert status.  An Azure Mobile Service is simply a secure API with associated storage all packaged nicley, looks similar to GAE - hmcc do you have much experience with GAE as a solution for push notifications?

When

[2015-04-16 18:35] jmbillings commented on #24
Just spotted this is still open- are the button icons still wrong on your device?

[2015-04-16 18:36] ghost commented on #24
They are on mine, but might not be up to date, when did you fix it?

On Thu, 16 Apr 2015 19:35 James Billings notifications@github.com wrote:

[2015-04-16 18:38] jmbillings commented on #24
I've not tried anything, as I couldn't repro it myself, but I'll try a few more emulator options...

[2015-04-16 18:39] ghost commented on #24
I can repro it on my device, running 5.0.2. Might be the scaling values,
are you using DP or another measurement?

On Thu, 16 Apr 2015 19:38 James Billings notifications@github.com wrote:

[2015-04-16 18:45] jmbillings commented on #24
I'd added some code to resize the icons to match the buttons but it seems that's not working in some cases. I'll remove that and just fix the button size and make sure the bitmaps match up.

[2015-04-16 20:40] hmcc commented on #24
Still looks odd on mine too, also on 5.0.2.

[2015-04-17 17:31] jmbillings commented on #24
Could you check out this pull request when you have a moment and see if it helps? https://github.com/aurora-watch-developers/AuroraWatchApp/pull/42

[2015-04-18 07:25] hmcc commented on #24
Much better! Have you checked landscape though? On my device they're not all visible, and there's no scroll.

Also, I'm not sure about the readability of the text - maybe try with black/dark grey text or a darker button colour?

[2015-04-18 08:06] jmbillings commented on #24
Yeah, I've not made a landscape layout yet, and the buttons need to be darker (or have darker text like you say)- this was more to check the image sizing is ok, I'll carry on fixing it up then :)

Sent from my HTC

----- Reply message -----
From: "Heather McCartney" notifications@github.com
To: "aurora-watch-developers/AuroraWatchApp" AuroraWatchApp@noreply.github.com
Cc: "James Billings" james@pu

[2015-04-18 08:45] hmcc commented on #24
Thank you for looking at it, and sorry not to be more help - I've been a bit busy on the server stuff!

[2015-04-18 14:57] jmbillings commented on #24
No problem, I've not looked at the server stuff yet, you'll have to explain it to me!  I've pushed further changes which should:
- add a landscape layout
- style the buttons appropriately for different API levels.

[2015-04-20 20:23] #24 closed

[2015-04-20 20:24] hmcc opened #43 "Add FAQs or remove FAQ button from More view"
The More view has a link to non-existent FAQs so this is just a reminder to either create some FAQs or remove the link before go live.

[2015-04-20 20:44] hmcc commented on #27
I've got the server up and running just enough for someone to be able to make a start on this. I've made 2 test methods available to the client, one to save the alert level and one to show all saved alert levels (I'll remove this later, obviously!). They are:

http://aurora-watch-uk.appspot.com/listAlertLevels
http://aurora-watch-uk.appspot.com/saveAlertLevel

No HTTPS, yet, because I believe we n

[2015-04-20 20:49] hmcc commented on #27
Correction: I think we can use HTTPS on the appspot domain. https://cloud.google.com/appengine/docs/java/config/webxml#Secure_URLs.

[2015-04-21 06:37] jmbillings commented on #27
I'll try and take a peek at this tonight to get familiar with it. I've just glanced over the discussion on the server-side too, does sound like some of the free-tier stuff can be fairly limited.

[2015-04-21 10:06] hmcc commented on #28
Unless I've missed something, I think we'll be OK with the GAE free limits for the forseeable future.

**Datastore**: 50000 reads & 50000 writes daily. If we get the status from AWUK every minute there'll be:
- a single read each time (to check previous status)
- if it's changed, a single write (new status)
- if it's changed, another read (to get the list of clients to message)

Even if the status

[2015-04-21 10:08] hmcc commented on #27
Thanks in advance for looking at it :) I think we're OK for for usage limits (I've posted an update on #28) but I'd appreciate you checking my logic.

[2015-04-21 11:23] n40jpj commented on #28
The only question I would have is what number of reads do you get when an alert gets pushed out e.g. if you have 1000 users for one alert you need to get the 1000 id's for each device to send to GCM; Does this mean you have 'read' 1 or 1000 times to get each Id  (I'm making the assumption it's just one query)?  The reason I ask is that I have known there to be a number of minor alerts on one day.

[2015-04-21 11:37] hmcc commented on #28
I haven't written that part yet but would be surprised if couldn't be done
a single read (get all 1000 IDs in one go) or, worst case, get the IDs in
batches.

[2015-04-21 16:16] jmbillings commented on #27
I've started a new branch for saving the alert level up. If you can send me the stuff I need for generating the ID that'll be handy.
Looking at the link you posted, part of the generation process includes the full package name of the app, which currently is still uk.ac.lancs.aurorawatch... we're not directly affiliated with them or producing an "Official" app as far as I'm aware, so should we refa

[2015-04-21 19:46] hmcc commented on #27
@jmbillings, I've added the email you used to post to the AuroraWatchAPI group as an admin for the app. Let me know if that doesn't work or if there's a different email you'd like to use instead.

Good point about the package name! org.aurorawatchdevs? I'll refactor the server side to match and make the switch to HTTPS, but it'll probably be next week.

[2015-04-21 20:27] jmbillings commented on #27
That packagename should be fine. I'll carry on tinkering :)

[2015-04-29 16:37] jmbillings commented on #27
I've had to create a "release" cert keystore to generate the ClientId's. I've committed it on this branch, so if you need the password to make a release build for any reason, shout :smile:

[2015-05-01 20:33] jmbillings commented on #27
I think this is sort of working now. Maybe. In a very "version 1" way. I was initially seeing in my debug logs the response coming back that the alert type wasn't known- because the ones in the app differ from the names on the server :)

I now just get a 200 OK, but the listing page is still blank? The logs in the google console suggest nothing untoward though...

ADB logcat:
05-01 21:27:41.844

[2015-05-01 21:21] hmcc commented on #27
\o/
I'll take a look on Monday if not before, see if I can figure out why it's
not showing up in the listing...

[2015-05-03 20:21] hmcc commented on #27
OK, I've got the listing working. The information was there in the HTML source but was wrapped in &lt;entity&gt; so wasn't being rendered as text by the browser.

I've also saved the alert level from my phone, which worked straight away - nice! Agree it needs a bit more UI work but it's great to have it working.

[2015-05-04 08:38] hmcc commented on #27
I've just switched the client and server over to HTTPS. I've also removed the listing method because it's a bit of a security hole :) and it's available in the console anyway (Storage -> Cloud Datastore -> Query). @cdomville, if you're still there, let me know if you want console access and I'll send you an invite.

[2015-05-04 08:40] hmcc commented on #28
Version 3 is live with the following changes:
- switched to HTTPS
- added missing AMBER status
- removed [listAlertLevels](http://aurora-watch-uk.appspot.com/listAlertLevels) since this is available in the [GAE console](https://console.developers.google.com/project/aurora-watch-uk/datastore/query).

[2015-05-05 14:30] jmbillings commented on #27
Glad it's working! I'm away in Sweden on my lonesome but the weather is terrible, so I'll probably carry on tinkering a bit more with this.
No idea how the "other way" works (i.e. receiving an alert) - is it possible to add a "TEST" alert level and a webpage on the server side to trigger sending that?

[2015-05-06 18:24] hmcc commented on #27
@jmbillings, I haven't written anything to send the alert yet ;) I'll try
to take a look next week.

[2015-05-11 17:02] jmbillings commented on #27
No worries- just pushed a couple of minor changes. Not sure if it's worth merging this in and then do handling/displaying notifications on a new branch?

[2015-05-11 21:24] hmcc commented on #27
Yes, I think merge. Thanks!

[2015-05-13 00:18] hmcc commented on #28
Version 4 has been deployed but I haven't made it the default. It can be accessed at https://4-dot-aurora-watch-uk.appspot.com.

It has the following changes:
- added an extra parameter, registrationId, to /saveAlertLevel, which will be used when we come to do the actual client notification
- added code to check the token and extract the email, along the lines of http://android-developers.blogspot

[2015-05-13 00:33] hmcc commented on #27
@jmbillings, I've just tried to verify the token as described in http://android-developers.blogspot.co.uk/2013/01/verifying-back-end-calls-from-android.html and so far it's not working. It returns an error 500 because the token is invalid. (There's a bit more detail about what I've done and the steps to reproduce the error on #28.)

I think part of the problem might be that the scope string for th

[2015-05-13 06:59] jmbillings commented on #27
I'll take a look - were you using a build of the app that had been processed with the release cert? I think if it's a debug build then it might not work because the client ID was generated based on the stuff in the cert?
Either way I'll have a look - I didn't merge it yet :)

[2015-05-13 12:30] hmcc commented on #27
Thanks for looking. I'm sure I've made a mistake somewhere but I can't see
it.

I used a debug build and the corresponding debug key, but that's definitely
a worthwhile test - try it with the release key and a new client ID
generated with its SHA.

[2015-05-13 16:36] jmbillings commented on #27
OK, I switched the scope as per the article (I was following something different which might be where I got mine from!) and I'm now getting the "unknown" error in the toast. Will need to debug to see what's what.

[2015-05-13 16:54] jmbillings commented on #27
OK, this is the underlying error. Lots of google results so I'll see if I can fathom it out.

[code]

[2015-05-13 22:46] hmcc commented on #27
@jmbillings, where did you get that log? Looks useful :)

[2015-05-14 06:28] jmbillings commented on #27
It was in the logcat (via the emulator) but I had to switch from tracking our app to gapps instead! Still not sure where it's going wrong, or what the web based client ID is for. I tried putting that in instead of the android app one and got the same result :confused:

[2015-05-14 08:11] jmbillings commented on #27
Weird, I'm sure I replied but I don't see it. I got it from logcat, but had to change the stuff I was monitoring from our app to the gapps one.
Initially I was using the android app clientID but re-reading the document it looks like the other one needs to be used (the web-app clientID). I did briefly try that too last night and got the same error but I was in a rush and may have missed something,

[2015-05-14 08:12] hmcc commented on #27
@jmbillings, from everything I've read, the ID in the scope string should
be the web app one. Of course, since it's not working, I could easily be
wrong ;)
On 14 May 2015 07:28, "James Billings" notifications@github.com wrote:

[2015-05-14 17:04] jmbillings commented on #27
OK, possible success (at least I'm not getting the error on my device, the emulator is still playing up)

Although the package name in our manifest ends "aurorawatch", I installed a "show the running package name" app on my phone, and we're _actually_ called "aurorawatchapp". No idea where in the code that's coming from(!) but after changing the console to allow that, it seems to work from my hand

[2015-05-15 12:23] hmcc commented on #27
@jmbillings, if it's "org.aurorawatch.aurorawatchapp", might it be the
Gradle script?  If it's simply " aurorawatchapp" then maybe it's the
project name?

[2015-05-15 12:30] jmbillings commented on #27
Ahh, probably - I didn't look in the build script! If that's where it is, I'll change it to just AuroraWatch :+1:

[2015-05-15 16:40] jmbillings commented on #27
Hurrah, I think that was it! Changed build.gradle and reverted the app name in the console back again. To get the emulator working I needed to add a client ID for my debug keystore as well.

Logcat shows more encouraging results now:

`05-15 16:35:30.409    1804-1819/com.google.process.gapps I/GLSUser﹕ [GLSUser]  extracting token using key:Auth
05-15 16:35:30.545    1804-1819/com.google.process.ga

[2015-05-15 18:44] hmcc commented on #27
Nice work! :)

If you're in the mood to keep going, you can always give it a try against
version 4 of the server and see if it validates on that end?

[2015-05-15 22:15] jmbillings commented on #27
Ah, I'd missed your updates on the server side- yeah, will give that a whirl over the weekend

[2015-05-18 19:16] jmbillings commented on #27
More changes on the branch, passing through the registrationID and also using the v4 test URL. It seemed to work briefly (there's a couple of entries in the console for tonight at the time I was testing), but I'm now getting the below (the app doesn't actually show an error, as it's still returning HTTP 200 OK)

`05-18 19:12:21.616    7081-7181/org.aurorawatchdevs.aurorawatch I/SaveAlertPreference

[2015-05-18 19:36] jmbillings commented on #27
Nope, not validating on my device either. Interestingly, neither the payload nor the "configured value" match any of the ones I can see in the console credentials section so I'm not sure where they're coming from..?

[2015-05-18 21:45] hmcc commented on #27
Ah, sorry for not seeing this earlier - it's in the config of the server
side app and it'll be out of date now after all your efforts to get the
scope string working. I'll rebuild and redeploy with the correct values
tomorrow.

That's actually pretty good if it's getting that far. It means the payload
parses OK, it's just failing my very small amount of custom checking
afterwards.

[2015-05-19 06:31] jmbillings commented on #27
Ahh, ok, cool, i'll keep playing with other bits on it for now then!
I want to add some sort of event back from the async stuff (currently you have to try and save your setting 2 or 3 times while it sets everything up the first time and it would be good to avoid that!)

[2015-05-19 20:50] hmcc commented on #27
@jmbillings, I _think_ the server side is working now - at least, it is for me.

I've pushed a couple of very small changes on the branch to use the default version on the server (which is now version 5) and to map the "amber" status correctly (this was missing on the server when you originally wrote it).

Can you give it a whirl sometime and see if it also works for you?

Also, I can see 4 Androi

[2015-05-19 20:52] hmcc commented on #28
Version 5 is now the default with the following changes:
- corrected the aud and azd to match those configured in the Google Developers console
- removed the GET on /saveAlertLevel
- changes to the data stored - registration ID and email, not token, and a numeric status

The next step is to actually send some alerts but it may be a couple more weeks before I have that amount of free time :(

[2015-05-20 06:26] jmbillings commented on #27
Sure, I'll check it later today!
The ID's I'll look at; I'm possibly using two (one from my handset with the release certificate and the other on the emulator with my debug certificate)

[2015-05-20 07:38] hmcc commented on #27
If it turns out that there are 2, then let me know and I'll redo things on the server end a bit. At the minute the only one that will work is the last one in the list.

[2015-05-20 20:23] jmbillings commented on #27
I'm still seeing the same error in the debug output:

[code]

Is that likely to be because it's the wrong client ID? The one generated for my debug cert will have a different thumbprint to yours. Either way, I need to figure out where to catch that error because from within the app it all looks successful!

[2015-05-21 18:42] hmcc commented on #27
@jmbillings, I've changed it now so it accepts multiple client IDs (all those currently in the console). Hopefully it works this time!

[2015-05-22 06:48] jmbillings commented on #27
Well a quick check on my phone with the same build of the app I was working on last night gave an "OK" in toast back to me, so it looks hopeful!

[2015-05-22 16:19] jmbillings commented on #27
Yep, that seems OK. Changes I make to the alert setting on my phone are correctly getting updated in the console :+1:

I'll do a little more tidying on the branch and merge it in.

[2015-05-22 16:20] jmbillings commented on #28
No worries- if I get chance I'll perhaps take a look (I've not actually investigated the server side code at all yet!) - if it makes no sense to me I'll do some other client side bits :smile:

[2015-05-27 19:46] jmbillings commented on #28
I've started tinkering with building up the post request for sending the notifications. I'm doing it on a branch, so in the event of it being a complete load of rubbish you can just delete it :smile:

[2015-05-30 14:27] hmcc commented on #28
Brilliant, thank you! I've been on holiday for the last week (if travel with 2 small children can ever be described as a holiday ;)) so I'll take a look once the laundry mountain is a bit more under control...

[2015-06-11 21:07] hmcc opened #47 "UI tidy up"
Nice pictures in the background, maybe a more modern theme for newer clients that can support it, anything and everything to make it look good.

[2015-06-11 21:16] ghost commented on #47
Partly what I was working on. Was planning to update the various fragments
using translation matrices, possibly actually dropping Gingerbread so we
don't have to write the compatibility methods for the animations and have
ICS as a baseline.

A good codebase to look at for designs would be the Google I/O app, which
has source code on Github.

Apologies for the two months off, not been great from a

[2015-06-11 21:19] hmcc commented on #28
That looks good! I've added a method for testing it, available at https://7-dot-aurora-watch-uk.appspot.com/testGCM?email=<email&gt; It won't work locally (unless you can figure out how to add users to your local datastore) because it only sends to emails already registered with the system.

If you write new code and want to test it, you can upload a new version 7 with

[code]

[2015-06-12 06:31] jmbillings commented on #28
Nice, I'll take a peek at that :)

[2015-06-28 20:49] jmbillings commented on #27
https://github.com/aurora-watch-developers/AuroraWatchApp/pull/48 - I actually received a genuine notification on my device today! Some work still to do, but getting there.

[2015-08-11 20:08] #28 closed

[2015-08-11 20:08] #27 closed

[2015-08-11 20:12] hmcc opened #49 "signing up for alerts takes several attempts"
When you first sign up for alerts, it seems to take several attempts before the setting is saved on the server.

[2015-08-11 20:21] jmbillings commented on #49
I think one of these is a genuine "not re-sending stuff after the initial send results in an extra step" failure, so just needs the code to re-send automatically (sorry that's vague, it's a while since I looked into it).

But it actually seems to take more than that; which might need a bit more poking to figure out.

[2015-08-11 21:33] ghost commented on #47
In summary, the main things that I think should be covered:

Layered imagery - a good example would be background aurorae for the numbers (possibly by time of day as a nice design aesthetic)?
A consistent overview and feel from the UI. Anything froma  design perspective should be resolved cleanly. Following Material Design where possible. A good example of this is the BBC news Articles that move t

[2015-08-11 21:41] ghost commented on #8
Just for anyone picking this up, a good example to follow for what I had in mind is the articles for the BBC news app combined (slightly) with norrow versions of Google Now's cards.

I was going to use the card layouts for each data items with different rates of setTranslationY() and a change in the zindex of the fragment containing the cards. This _will_ require upping the compatibility to 11 or

[2015-08-12 19:46] jmbillings commented on #49
I've fixed one problem on this, the next seems to be an ordering of stuff firing off (looking at logging I added, we try to start the registration task without passing a token, that gets received afterwards, and presumably then works next attempt...)

I'll continue tomorrow- I seem to have developed manflu, so a bit bleurgh!

[2015-08-12 20:41] hmcc opened #50 "Add aurora background images"
From #47 - Layered imagery - a good example would be background aurorae for the numbers (possibly by time of day as a nice design aesthetic)?

[2015-08-12 20:43] hmcc opened #51 "Look into having transparent buttons"
From #47 - Transparent buttons and user fragments might be nice to look in to having (possibly Lollipop only, because we want to make sure we don't slow devices down too much).

[2015-08-12 20:45] hmcc opened #52 "Tablet support"
Create a sensible layout for tablet.

[2015-08-12 20:46] hmcc opened #53 "Test different screen resolutions"
Test the layouts on all the screen resolutions that the emulator offers.

[2015-08-12 20:49] hmcc commented on #47
I've added #50, #51, #52 and #53 for some of the more specific UI tasks, leaving this one mainly for "A consistent overview and feel from the UI. Anything froma design perspective should be resolved cleanly. Following Material Design where possible. A good example of this is the BBC news Articles that move the images at a different speed to the scrolling text, for instance, which is something we c

[2015-08-13 10:54] jmbillings commented on #49
This is looking some way resolved now, see comments on https://github.com/aurora-watch-developers/AuroraWatchApp/pull/54

[2015-08-13 20:07] hmcc commented on #49
Fixed in #54.

[2015-08-13 20:07] #49 closed

[2015-08-19 16:35] #43 closed

[2015-08-19 16:41] jmbillings commented on #11
That snippet seems to 404 now- anyhoo, I can probably rustle up something- any thoughts on:
- how many application runs we should give users before showing the rating popup?
- should we pop it up again if they don't rate us (might get annoying)?

[2015-08-20 13:05] #51 closed

[2015-09-23 08:32] jmbillings opened #58 "Option to set alert time-window"
So users can suppress alerts during daylight/when they don't want to be woken up.

[2015-10-01 09:04] hmcc opened #59 "Handle permissions nicely under Marshmallow"
The permissions model is changing with Marshmallow so the user can disallow certain features. We should handle the permissions we obtain a bit more nicely in this case, otherwise we're going to be (incorrectly) assuming we can do what we want with network.

[2015-10-14 07:55] jmbillings commented on #11
Closing this issue as it's done. In theory :smile:

[2015-10-14 07:55] #11 closed